.about {
    width: 100%;
    padding: 1rem
}

.about .container {
    display: flex;

}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
}

.left{
    hyphens: auto; 
	text-align: justify
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-left: 2.5rem;

}

@media screen and (max-width: 940px) {
    .about .container .wrapper {
        grid-template-columns: 1fr;
    }

    .about .right {
        max-width: 100%;
        align-items: center;
        padding: 1rem
    }

}